{% extends 'DrAdminBundle::template/base.html.twig' %}

{% block body %}
    <h1>Articles list</h1>
    <a href="{{ path('article_new') }}" class="button">Create a new article</a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Actions</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                <td>{{ article.title }}</td>
                <td>{{ article.subtitle }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('article_show', { 'id': article.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('article_edit', { 'id': article.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
                <td>
                    {% if article.status %}
                        <span id="status_{{ article.id }}">publié</span>
                    {% else %}
                        <span id="status_{{ article.id }}">non publié</span>
                    {% endif %}
                    <a class="button publish" id="publish_{{ article.id }}">modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
